
.nav-folder-title-content {
    font-size: 0.90rem;
    font-weight: 400;
    line-height: 1.2em;
}

.nav-file-title-content {
    font-size: 0.90rem;
    line-height: 1.2em;
    font-weight: 400;
}
